USE [QuanLyXeMay]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [varchar](50) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MAPN] [varchar](50) NOT NULL,
	[MAXE] [nchar](10) NOT NULL,
	[DONGIANHAP] [int] NULL,
	[SOLUONGNHAP] [int] NULL,
	[THUE] [float] NULL,
	[THANHTIENCTPN] [float] NULL,
	[SOLUONGDANHAP] [int] NULL,
 CONSTRAINT [PK_CTPHIEUNHAP_1] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUXUAT]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUXUAT](
	[MAXE] [nchar](10) NOT NULL,
	[MAPX] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CTPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC,
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](50) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHIKH] [nvarchar](200) NULL,
	[SDTKH] [varchar](20) NULL,
	[EMAILKH] [nvarchar](50) NULL,
	[CMND] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[MAHANG] [nchar](10) NOT NULL,
	[TENHANG] [nvarchar](50) NULL,
	[DONGIANHAP] [int] NULL,
	[DONGIA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](50) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHINCC] [nvarchar](200) NULL,
	[SDTNCC] [varchar](50) NULL,
	[EMAILNCC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](50) NOT NULL,
	[MACHUCVU] [varchar](50) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[NAMSINH] [int] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHINV] [nvarchar](100) NULL,
	[SDTNV] [varchar](50) NULL,
	[EMAILNV] [nvarchar](50) NULL,
	[LUONG] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAOHANH](
	[MAPBH] [varchar](50) NOT NULL,
	[MAXE] [nchar](10) NOT NULL,
	[NGAY] [datetime] NULL,
	[MANV] [varchar](50) NOT NULL,
	[TINHTRANG] [nvarchar](200) NULL,
	[MAKH] [varchar](50) NOT NULL,
	[HOANTHANH] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [varchar](50) NOT NULL,
	[MANCC] [varchar](50) NOT NULL,
	[MANV] [varchar](50) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[THANHTOAN] [bit] NULL,
	[TONGTIENPN] [float] NULL,
	[SOTIENDATRA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [varchar](50) NOT NULL,
	[MANV] [varchar](50) NOT NULL,
	[MAKH] [varchar](50) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[TONGTIENPX] [float] NULL,
	[TRANGTHAI] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaNV] [varchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nchar](10) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[CapQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XEMAY]    Script Date: 8/14/2020 3:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEMAY](
	[MAXE] [nchar](10) NOT NULL,
	[TENXE] [nvarchar](50) NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[MAHANG] [nchar](10) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[THOIGIANBH] [int] NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_XEMAY] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV00001             ', N'Kĩ thuật')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV00002             ', N'Kinh doanh')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'CV00003             ', N'Kế toán')
GO
INSERT [dbo].[CTPHIEUXUAT] ([MAXE], [MAPX]) VALUES (N'XE00001   ', N'PX201612112223')
INSERT [dbo].[CTPHIEUXUAT] ([MAXE], [MAPX]) VALUES (N'XE00002   ', N'PX201612112223')
INSERT [dbo].[CTPHIEUXUAT] ([MAXE], [MAPX]) VALUES (N'XE00003   ', N'PX20161211233853')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHIKH], [SDTKH], [EMAILKH], [CMND]) VALUES (N'KH00001', N'Trần Quốc Huy', N'TPHCM', N'0136.254.6854', N'huy123@gmail.com', N'465849644')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHIKH], [SDTKH], [EMAILKH], [CMND]) VALUES (N'KH00002', N'Lê Văn Hải', N'TPHCM', N'0396.495.6112', N'hai123@gmail.com', N'')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHIKH], [SDTKH], [EMAILKH], [CMND]) VALUES (N'KH00003', N'Đặng Hữu Nhân', N'TPHCM', N'0165.278.5665', N'nhan123@gmail.com', N'')
GO
INSERT [dbo].[LOAIXE] ([MAHANG], [TENHANG], [DONGIANHAP], [DONGIA]) VALUES (N'LX00001   ', N'Exciter', 40000000, 48000000)
INSERT [dbo].[LOAIXE] ([MAHANG], [TENHANG], [DONGIANHAP], [DONGIA]) VALUES (N'LX00002   ', N'Honda SH 2017', 80000000, 90000000)
INSERT [dbo].[LOAIXE] ([MAHANG], [TENHANG], [DONGIANHAP], [DONGIA]) VALUES (N'LX00003   ', N'Honda Vision 2016', 30000000, 36000000)
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHINCC], [SDTNCC], [EMAILNCC]) VALUES (N'NCC00001', N'An bình', N'TP.HCM', N'0325.698.565', N'anbinh@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHINCC], [SDTNCC], [EMAILNCC]) VALUES (N'NCC00002', N'Nam an', N'Miền tây', N'0362.549.9853', N'naman@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHINCC], [SDTNCC], [EMAILNCC]) VALUES (N'NCC00003', N'Cộng hòa', N'Đà nẵng', N'0362.265.896', N'conghoa@yahoo.com')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [MACHUCVU], [TENNV], [NAMSINH], [GIOITINH], [DIACHINV], [SDTNV], [EMAILNV], [LUONG]) VALUES (N'NV00001   ', N'CV00004', N'Nguyễn trường giang', 1995, N'Nam', N'TPHCM', N'0987654321', N'giang@gmail.com', 3000000)
INSERT [dbo].[NHANVIEN] ([MANV], [MACHUCVU], [TENNV], [NAMSINH], [GIOITINH], [DIACHINV], [SDTNV], [EMAILNV], [LUONG]) VALUES (N'NV00002   ', N'CV00004', N'Trấn thành', 1995, N'Nam', N'TPHCM', N'0123456789', N'thanh@gmail.com', 3000000)
INSERT [dbo].[NHANVIEN] ([MANV], [MACHUCVU], [TENNV], [NAMSINH], [GIOITINH], [DIACHINV], [SDTNV], [EMAILNV], [LUONG]) VALUES (N'NV00003   ', N'CV00003             ', N'Nam thư', 1995, N'Nữ', N'TPHCM', N'0123456798', N'thu@gmail.com', 3000000)
GO
INSERT [dbo].[PHIEUBAOHANH] ([MAPBH], [MAXE], [NGAY], [MANV], [TINHTRANG], [MAKH], [HOANTHANH]) VALUES (N'PBH001', N'XE00001   ', CAST(N'2020-09-08T00:00:00.000' AS DateTime), N'NV00001   ', NULL, N'KH00001', NULL)
INSERT [dbo].[PHIEUBAOHANH] ([MAPBH], [MAXE], [NGAY], [MANV], [TINHTRANG], [MAKH], [HOANTHANH]) VALUES (N'PBH002', N'XE00002   ', CAST(N'2020-09-08T00:00:00.000' AS DateTime), N'NV00002', NULL, N'KH00002', NULL)
INSERT [dbo].[PHIEUBAOHANH] ([MAPBH], [MAXE], [NGAY], [MANV], [TINHTRANG], [MAKH], [HOANTHANH]) VALUES (N'PBH003', N'XE00003   ', CAST(N'2020-09-08T00:00:00.000' AS DateTime), N'NV00003', NULL, N'KH00003', NULL)
GO
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANCC], [MANV], [NGAYNHAP], [THANHTOAN], [TONGTIENPN], [SOTIENDATRA]) VALUES (N'PN20161211214120', N'NCC00001', N'NV00001   ', CAST(N'2016-12-11' AS Date), 0, 682000000, 120000000)
GO
INSERT [dbo].[PHIEUXUAT] ([MAPX], [MANV], [MAKH], [NGAYXUAT], [TONGTIENPX], [TRANGTHAI]) VALUES (N'PX201612112223', N'NV00001   ', N'KH00001', CAST(N'2016-12-11' AS Date), 96000000, N'0')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [MANV], [MAKH], [NGAYXUAT], [TONGTIENPX], [TRANGTHAI]) VALUES (N'PX20161211233853', N'NV00001   ', N'KH00001', CAST(N'2016-12-11' AS Date), 48000000, N'0')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [MANV], [MAKH], [NGAYXUAT], [TONGTIENPX], [TRANGTHAI]) VALUES (N'PX20161211234338', N'NV00001   ', N'KH00001', CAST(N'2016-12-11' AS Date), 48000000, N'1')
GO
INSERT [dbo].[TAIKHOAN] ([MaNV], [TenDangNhap], [MatKhau], [TrangThai], [CapQuyen]) VALUES (N'NV00011', N'binh', N'111111    ', N'Tạm ngưng', N'Nhân viên')
INSERT [dbo].[TAIKHOAN] ([MaNV], [TenDangNhap], [MatKhau], [TrangThai], [CapQuyen]) VALUES (N'NV00001', N'giang', N'112233    ', N'Hoạt động', N'Nhân viên')
INSERT [dbo].[TAIKHOAN] ([MaNV], [TenDangNhap], [MatKhau], [TrangThai], [CapQuyen]) VALUES (N'NV00006', N'ngoc', N'222333    ', N'Hoạt động', N'Nhân viên')
GO
INSERT [dbo].[XEMAY] ([MAXE], [TENXE], [MAUSAC], [MAHANG], [TRANGTHAI], [THOIGIANBH], [SOLUONG]) VALUES (N'XE00001   ', N'Exciter 135', N'Ðỏ', N'LX00001   ', N'1', 24, 20)
INSERT [dbo].[XEMAY] ([MAXE], [TENXE], [MAUSAC], [MAHANG], [TRANGTHAI], [THOIGIANBH], [SOLUONG]) VALUES (N'XE00002   ', N'Exciter 135', N'Nâu', N'LX00001   ', N'1', 12, 12)
INSERT [dbo].[XEMAY] ([MAXE], [TENXE], [MAUSAC], [MAHANG], [TRANGTHAI], [THOIGIANBH], [SOLUONG]) VALUES (N'XE00003   ', N'Exciter 135', N'Xám', N'LX00001   ', N'1', 12, 11)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_CHUCVU]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[CHUCVU] ADD  CONSTRAINT [PK_CHUCVU] PRIMARY KEY NONCLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_LOAIXE]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[LOAIXE] ADD  CONSTRAINT [PK_LOAIXE] PRIMARY KEY NONCLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHACUNGCAP]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_PHIEUBAOHANH]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[PHIEUBAOHANH] ADD  CONSTRAINT [PK_PHIEUBAOHANH] PRIMARY KEY NONCLUSTERED 
(
	[MAPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_PHIEUNHAP]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_PHIEUXUAT]    Script Date: 8/14/2020 3:57:36 PM ******/
ALTER TABLE [dbo].[PHIEUXUAT] ADD  CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY NONCLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUN_CTPHIEUNH_PHIEUNHA] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUN_CTPHIEUNH_PHIEUNHA]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_XEMAY] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XEMAY] ([MAXE])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_XEMAY]
GO
ALTER TABLE [dbo].[CTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUX_CTPHIEUXU_PHIEUXUA] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
GO
ALTER TABLE [dbo].[CTPHIEUXUAT] CHECK CONSTRAINT [FK_CTPHIEUX_CTPHIEUXU_PHIEUXUA]
GO
ALTER TABLE [dbo].[CTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUXUAT_XEMAY1] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XEMAY] ([MAXE])
GO
ALTER TABLE [dbo].[CTPHIEUXUAT] CHECK CONSTRAINT [FK_CTPHIEUXUAT_XEMAY1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_RELATIONS_CHUCVU] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_RELATIONS_CHUCVU]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_NHANVIEN1]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_XEMAY1] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XEMAY] ([MAXE])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_XEMAY1]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_CO_2_NHACUNGC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_CO_2_NHACUNGC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_CO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_CO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUA_CO_3_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUA_CO_3_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUA_CO_4_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUA_CO_4_KHACHHAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TaiKhoan_NHANVIEN]
GO
ALTER TABLE [dbo].[XEMAY]  WITH CHECK ADD  CONSTRAINT [FK_XEMAY_LOAIXE] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[LOAIXE] ([MAHANG])
GO
ALTER TABLE [dbo].[XEMAY] CHECK CONSTRAINT [FK_XEMAY_LOAIXE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'B?ng d? li?u khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KHACHHANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'B?ng d? li?u m?t hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LOAIXE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'B?ng d? li?u nhà cung c?p' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHACUNGCAP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'B?ng d? li?u nhân viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHANVIEN'
GO

select * from  LOAIXE where TENHANG like 'Exciter'