<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QuanLyXeMayConnectionString"
            connectionString="Data Source=DESKTOP-D54SIAK\SQLEXPRESS;Initial Catalog=QuanLyXeMay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLXeMayConnectionString"
            connectionString="Data Source=TRANQUOCHUY\SQLEXPRESS;Initial Catalog=QLXeMay;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyXeMayConnectionString1"
            connectionString="Data Source=TRANQUOCHUY\SQLEXPRESS;Initial Catalog=QuanLyXeMay;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
